<!-- <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <header class="bg-surface-primary pt-6">
      <div class="container-fluid">
        <div class="my-3">
          <div class="row align-items-center">
            <div class="col-sm-6 col-12 mb-4">
              <span class="text-white">Application</span>
            </div>
            <div class="col-sm-6 col-12 text-sm-end">
              <div class="mx-n1"> <a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1"> <span
                    class=" pe-2"> <i class="bi bi-pencil"></i> </span> <span>Edit</span> </a> <a href="#"
                  class="btn d-inline-flex btn-sm btn-primary mx-1"> <span class=" pe-2"> <i class="bi bi-plus"></i>
                  </span> <span>Create</span> </a> </div>
            </div>
          </div>
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink>Dasboard</a>
              <ng-template ngbNavContent>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Activity</a>
              <ng-template ngbNavContent>Activity</ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Matrics</a>
              <ng-template ngbNavContent>Matrics</ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Settings</a>
              <ng-template ngbNavContent>Settings</ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </header>
  </div>
</div> -->


<!-- <indev-root></indev-root> -->

<!-- <div class="page">
    <div class="page-main">

      <div>JANCOK</div>

    </div>
  </div> -->
<!-- <indev-indev></indev-indev> -->
