<div class="mt-1 mb-5 my-md-5">
  <div class="container">
    <div class="page-header justify-content-end">
    </div>
    <div class="page-header">
      <h1 class="page-title">
        App Source
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-muted mb-4">Choose between creating app from a Github repository or creating a standalone Dokku app.
  </div>
  <div class="row">
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
      aria-describedby="basic-addon1">
  </div>
</div>
<!-- <div class="my-3 my-md-5">
  <div class="container">
    <div class="page-header float-right">
      <a class="btn d-inline-flex btn-sm btn-secondary mx-1">
        <span class=" pe-2">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
      </a>
    </div>
  </div>
</div> -->
