<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand">
        <h1 class="p-0">Applications</h1>
      </a>
      <div class="d-flex order-lg-2 ml-auto">
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(assets/demo/faces/female/25.jpg)"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fa fa-user"></i> Profile
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fa fa-settings"></i> Settings
            </a>
            <a class="dropdown-item" href="#">
              <span class="float-right"><span class="badge badge-primary">6</span></span>
              <i class="dropdown-icon fa fa-mail"></i> Inbox
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fa fa-send"></i> Message
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fa fa-help-circle"></i> Need help?
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fa fa-log-out"></i> Sign out
            </a>
          </div>
        </div>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
        data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
