<div class="page">
  <div class="page-main" style="background-color: #080c20;">
    <div class="container-fluid header" style="background-color: #080c20;">
      <div class="row" id="mobileHeader"></div>
      <div class="row">
        <nav class="navbar navbar-expand-md navbar-light px-5">
          <div class="navbar-brand">
            <h1><img src="../../assets/intama2.png" alt="intama" width="150" height="35" /></h1>
          </div>
          <div class="group d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span>
                class="navbar-toggler-icon"</span></button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item" routerLinkActive="active"><a class="nav-link text-white" href="/">Blog</a></li>
              <li class="nav-item" routerLinkActive="active"><a class="nav-link text-white"
                  href="https://www.intama.info/" translate="yes">About</a>
              </li>
              <li class="nav-item" routerLinkActive="active"><a class="nav-link text-white"
                  routerLink="/auth/login">Login</a></li>
            </ul>
          </div>
        </nav>
        <div class="col-6 align-self-center" id="headerText">
          <!-- <div class="text-white font-weight-bold py-5" style="font-size: 40px">Get Develop Preview Ship</div> -->
          <h1 class="text-white font-weight-bold" style="font-size: 40px">Get Develop Preview Ship</h1>
          <div class="text-white font-weight-bold x-large pt-0 pb-5">Deploy and run apps on today's most innovative
            Platform
            as a
            Service
          </div>
        </div>
        <div class="col" id="imgHeaderRight"></div>
      </div>
    </div>

    <div class="container content">
      <div class="row row-cols-lg-4 rows-cols-md-1 justify-content-md-center">
        <div class="col-lg-3 col-md-9 even">
          <div class="imgCont">
            <img src="../assets/illustration-passions.svg" alt="passions" />
          </div>
          <h4>Indulge your passions</h4>
          <p>Your passions shouldn't be just for the weekend. Earn a living doing what you love.</p>
        </div>

        <div class="col-lg-3 col-md-9 odd">
          <div class="imgCont">
            <img src="../assets/illustration-financial-freedom.svg" alt="freedom" />
          </div>
          <h4>Gain financial freedom</h4>
          <p>Start making money work for you. There’s nothing quite like earning while you sleep.</p>
        </div>

        <div class="col-lg-3 col-md-9 even">
          <div class="imgCont">
            <img src="../assets/illustration-lifestyle.svg" alt="lifestyle" />
          </div>
          <h4>Choose your lifestyle</h4>
          <p>Own your daily schedule. Fancy a lie-in? Go for it! Take charge of your week.</p>
        </div>

        <div class="col-lg-3 col-md-9 odd">
          <div class="imgCont">
            <img src="../assets/illustration-work-anywhere.svg" alt="work" />
          </div>
          <h4>Work from anywhere</h4>
          <p>Selling online means not being pinned down. Want to work AND travel? Go for it!</p>
        </div>
      </div>
    </div>
  </div>
</div>
