<div class="my-3 my-md-5 mr-5">
  <div class="container">
    <div class="page-header justify-content-end">
      <div class="mx-n1">
        <a class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
          <span class=" pe-2" (click)="toCreateDbApps()">Create Database</span>
        </a>
        <a class="btn d-inline-flex btn-sm btn-secondary mx-1">
          <span class=" pe-2" (click)="toCreateApps()">Create App</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row mx-4">
  <div class="col-6">
    <div class="page-header">
      <h1 class="page-title ml-3">
        Application
      </h1>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <article class="media">
            <div class="mr-3">
              <div class="avatar avatar-xl" style="background-image: url(demo/faces/female/17.jpg)"></div>
            </div>
            <div class="media-body">
              <div class="content">
                <p class="h5">
                  Simpool<small class="float-right text-muted">31 minutes ago</small>
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                  fringilla egestas. Nullam condimentum luctus turpis.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="page-header">
      <h1 class="page-title ml-3">
        Latest Activity
      </h1>
    </div>
    <div class="text-muted mb-4">Comming Soon</div>

  </div>
</div>
