<div class="container cardLogin">
  <div class="row">
    <div class="col-md-12 custom-card">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Login Indev</h5>
          <p class="card-text">Log in with your existing Github account</p>
          <button class="btn btn-primary fb-btn" (click)="toDashboard()"><i class="fa fa-facebook-square fa-2x"
              aria-hidden="true"></i> Login
            With Github</button>
        </div>
      </div>
    </div>
  </div>
</div>
